.animation {
    position: relative;
    width: 600px;
    height: 300px;
    margin: auto;
}
.animation #canvas {
    position: absolute;
    left: -10px;
    top: -10px;
}
.animation-content {
    padding: 10px;
}
.sprite {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #204d74;
    background: #0aa344;
    background: rgba(10, 163, 68, .5);
    border-radius: 50%;
}
.sprite:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    border: 1px solid #ff461f;
    margin-top: -2px;
    margin-left: -2px;
    border-radius: 50%;
}
.round {
    animation: round 5s linear 0s 2;
    -webkit-animation: round 5s linear 0s 2;
    -webkit-transform-origin: 125px 25px;
    transform-origin: 125px 25px;
    top: 100px;
}
.line {
    animation: line 5s linear;
    -webkit-animation: line 5s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.parabola {
    animation: parabola-horizontal 5s linear, parabola-vertical 5s cubic-bezier(1,-.02,1,.83);
    -webkit-animation: parabola-horizontal 5s linear, parabola-vertical 5s cubic-bezier(1,-.02,1,.83);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.ellipse1 {
    animation: ellipse-horizontal 6s ease-in-out infinite alternate, ellipse-vertical 6s ease-in-out 3s infinite alternate;
    -webkit-animation: ellipse-horizontal 6s ease-in-out infinite alternate, ellipse-vertical 6s ease-in-out 3s infinite alternate;
}

.ellipse2 {
    animation: ellipse-horizontal 6s ease-in-out infinite alternate, ellipse-vertical 6s ease-in-out 3s infinite alternate;
    -webkit-animation: ellipse-horizontal 6s ease-in-out infinite alternate, ellipse-vertical 6s ease-in-out 3s infinite alternate;
}

.ellipse3 {
    animation: ellipse-horizontal 6s cubic-bezier(.37,0,.63,1) infinite alternate, ellipse-vertical 6s cubic-bezier(.37,0,.63,1) 3s infinite alternate;
    -webkit-animation: ellipse-horizontal 6s cubic-bezier(.37,0,.63,1) infinite alternate, ellipse-vertical 6s cubic-bezier(.37,0,.63,1) 3s infinite alternate;
}

.ellipse {
    animation: ellipse-horizontal 6s cubic-bezier(.37,0,.63,1) -3s infinite alternate, ellipse-vertical 6s cubic-bezier(.37,0,.63,1) infinite alternate;
    -webkit-animation: ellipse-horizontal 6s cubic-bezier(.37,0,.63,1) -3s infinite alternate, ellipse-vertical 6s cubic-bezier(.37,0,.63,1) infinite alternate;
}